<owl-carousel-o [options]="customOptions"  >
  <ng-template carouselSlide><img src="images/slider-4.avif" alt=""> </ng-template>
  <ng-template carouselSlide> <img src="images/slider-2.avif" alt=""></ng-template>
  <ng-template carouselSlide><img src="images/slider-1.avif" alt=""> </ng-template>
  <ng-template carouselSlide><img src="images/slider-5.avif" alt=""> </ng-template>
  <ng-template carouselSlide><img src="images/slider-3.avif" alt=""> </ng-template>
  <ng-template carouselSlide><img src="images/slider-6.avif" alt=""> </ng-template>
  <ng-template carouselSlide><img src="images/slider-7.avif" alt=""> </ng-template>
</owl-carousel-o>
